@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

#logo{
    display: none;
}

video {
    width: 8rem;
    height: 7rem;
}

.navbar {
    opacity: 0.8;
}
.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
}

.header .search-form.active{
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.cart-items-container{
    opacity: 0.8;
}
/* 
.cart-items-container {
    display: block;
}
.hide1 {
    display: none;
}  */

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background:var(--black);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.about .row .image{
    -webkit-box-flex:1;
        -ms-flex:1 1 45rem;
            flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    -webkit-box-flex:1;
        -ms-flex:1 1 45rem;
            flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu {
    margin-top: 28rem;
}
.menu .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}

.products .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background:var(--black);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    -webkit-box-flex:1;
        -ms-flex:1 1 45rem;
            flex:1 1 45rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.contact .row form{
    -webkit-box-flex:1;
        -ms-flex:1 1 45rem;
            flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.blogs .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}





/* bee */
#bee {
    position: fixed;
    top: -160px;
    left: 0;
    right: 0;
    z-index: 1;
}
 
#bee i {
    -webkit-animation: falling 20s 1s linear;
    animation: falling 8s linear 2s 20;
    animation-iteration-count :infinite;
    -webkit-animation-iteration-count :infinite;
    border-radius: 50%;
    cursor: default;
    display: inline-block;
    font-style: normal;
    height: 16px;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none; 
    -webkit-user-select: none; 
    width: 16px;
    color: white;
}  

/* animation */
@-webkit-keyframes falling {
    0% {-webkit-transform: translate3d(0,0,0) rotate(0deg);}
    100% {-webkit-transform: translate3d(30px,1000px,0) rotate(360deg);}   
}
 
@keyframes falling {
    0% {-webkit-transform: translate3d(0,0,0) rotate(0deg);transform: translate3d(0,0,0) rotate(0deg);}
    100% {-webkit-transform: translate3d(-500px,1000px,0) rotate(360deg);transform: translate3d(-500px,1000px,0) rotate(360deg);}   
}

/* Sizes */
#bee i:nth-of-type(4n) {
    height:30px;
    width:30px;
}
 
#bee i:nth-of-type(4n+1) {
    height:24px;
    width:24px;
}
 
#bee i:nth-of-type(4n+2){
    height:10px;
    width:10px;
}
 
/* Speeds */
#bee i:nth-of-type(4n) {
    -webkit-animation-duration: 16.3s;
    -moz-animation-duration: 16.3s;
}
 
#bee i:nth-of-type(4n+1){
    -webkit-animation-duration: 16.1s;
    -moz-animation-duration: 16.1s;
    }
 
#bee i:nth-of-type(4n+2) {
    -webkit-animation-duration: 12.7s;
    -moz-animation-duration: 12.7s;
}
 
/* Delays */
#bee i:nth-of-type(3n) {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}
 
#bee i:nth-of-type(3n+1) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
 
#bee i:nth-of-type(3n+2) {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s;
}
 
/* Timing functions */
#bee i:nth-of-type(5n) {
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
}
 
#bee i:nth-of-type(5n+1) {
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}
 
#bee i:nth-of-type(5n+2) {
    -webkit-animation-timing-function:ease;
    animation-timing-function:ease;
}
 
#bee i:nth-of-type(5n+3) {
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}
 
#bee i:nth-of-type(5n+4) {
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
}
 
#bee i:nth-of-type(11n)  {
    -webkit-animation-timing-function:cubic-bezier(0.2, 0.3, 0.8, 0.9);
    animation-timing-function:cubic-bezier(0.2, 0.3, 0.8, 0.9);
}
 
/* Opacity */
#bee i:nth-of-type(7n){
    opacity: 0.5;
}
 
#bee i:nth-of-type(7n+2) {
    opacity: 0.3;
}
 
#bee i:nth-of-type(7n+4) {
    opacity: 0.7;
}
 
#bee i:nth-of-type(7n+6){
    opacity: 0.6;
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}
 
#bee i:nth-of-type(7n+1){
    opacity: 0.8;
}



/* slider css */

body {
    overscroll-behavior-y: none;
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

.slider-wrap {
    position: absolute;
    left: 7%;
    right: 7%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid black;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    will-change: transform;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;

}

.slider-item {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    /* filter: grayscale(100%); */

}

.img-div {
    position: relative;
    left: 1%;
    top: 2.5%;
    width: 98%;
    height: 95%;
    background-size: cover;
    background-position: center;
}


/* accordion */
.accordion {
    max-width: 800px;
    width:100%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}
.container {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefefd+0,dce3c4+42,aebf76+100;Olive+3D+%231 */
background: #fefefd; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center,  ellipse,  #fcfc8c 0%,#d3ad7f,#16180f 100%);
background: radial-gradient(ellipse at center,  #fcfc8c 0%,#d3ad7f,#16180f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.accordion-title {
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
}
.fa-solid {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    font-size: 25px;
}

.accordion-description {
    width: 100%;
    font-size: 20px;
    height: 0;
    overflow: hidden;
    position: relative;
    text-align: justify;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}
.container.active2 .accordion-description {
    height: 200px;
}


.container.active2 .fa-angle-down {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    font-size: 25px;
}



/* media */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    .slider-wrap{
        height: 260px;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
    video {
        display: none;
    }

    #logo {
        display: block;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}



/* ajax.css */


.post-wraper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
    position: absolute;
    font-family: 'Lato';
    top: -10%;
    left: 10%;
    width: 80%;
    
}
.posts {
    max-width: 120px;
    width: 100%;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 2%;
    border-radius: 22%;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #776753;
    text-align: center;
    display: none;
}
.active3 {
    display: block;
}
.posts:hover {
    border: 2px solid #524535;
    background-color: #d3ad7f;
    border-radius: 2em 1em 4em / 0.5em 3em;
    
}
.overlay, .overlay-add {
    position: fixed;
    top: 40%;
    left: 22%;
    transform: translate(-40%, -40%);
    padding: 15px 35px;
    border-radius: 12%;
    max-width: 500px;
    width: 80%;
    height: 70%;
    background-color: #5a4f42;
    opacity: 90%;
    display: none;
    box-sizing: border-box;
    color: #835318 ;    
}

.active {
    display: block;
}
#close, #close-2 {
    position: absolute;
    top: 5%;
    right: 7%;
    font-size: 50px;
    color: white;
    
}
#close:hover,
#close-2:hover,
#close:focus,
#close-2:focus {
  color: rgb(8, 19, 19);
  cursor: pointer;
}

.delete, button {
    width: 80%;
    padding: 2% 2%;
    border-radius: 5%;
    border: none;
    box-shadow: 10px 10px 8px #332c24;
}
.hide {
    display: none;
}

.add-post {
    max-width: 5px;
    width: 100%;
    height: 15px;
    font-size: 20px;
    padding: 20px 20px;
    cursor: pointer;
    position: fixed;
    right: 50px;
    /* bottom: 30px; */
    transform: translate(-40%, -40%);
    background-color: rgba(126, 155, 94, 0);
    margin: 10px;
    text-align: center;
    border-radius: 5%;
    position: absolute;
    margin-top: -10%;
}

.add-post:after {
    box-sizing: border-box;
    padding-top: 13px;
    content: "+";
    background-color:#473c2f;
    width: 100%;
    z-index: -3;
    position: absolute;
    height: 100%;
    top: 7px;
    left: -7px;
}

div {
    /* background-color: rgb(138, 160, 157); */
    padding: 5px;
    display: block;
  }
    
/* .add-post:hover + div {
    display: block;
    z-index: -9999;
  } */

/* .add-post:hover, .add-post:hover.ex2:active {font-size: 160%; background-color: #559397;} */

#form {
    display: flex;  
    flex-direction: column;
    gap: 10px;
    align-content: space-between;
}
#body {
    height: 200px;
    width: 90%;
}

* {
    outline: none;
}